@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300; /* light */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800; /* extra-bold */
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-grey-light: #7e7e7e;
  --basic-half-grey: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-yellow-light: #f7e296;
  --special-green: #91c02f;
  --special-pink: #f6dada;
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Currently hidden on this step */

.hide {
  display: none;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.page-header {
  margin-bottom: 76px;
  margin-top: 40px;
}

/* Container */

.container {
  width: 1040px;
  margin: 0 auto;
}

/* Header-navigation  */

.header-navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header-nav-wrapper {
  width: 100%;
  margin-bottom: 164px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-nav-wrapper ul {
  margin: 0;
}

.header-logo {
  width: 163px;
  height: 35px;
  margin-top: -20px;
}

.header-user-nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-left: 20px;
}

.header-service-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

/* Header*/

.page-header {
  background-color: var(--special-yellow);
}

.header-navigation li {
  list-style: none;
}

.header-navigation a {
  color: var(--basic-black);
}

a.header-logo:hover,
a.header-logo:focus {
  opacity: 0.6;
}

a.header-logo:active {
  opacity: 0.3;
}

.header-user-nav,
.search-form {
  line-height: 20px;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder,
.search-form input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:active {
  color: var(--basic-black);
}

.header-user-nav a:hover,
.header-user-nav a:focus {
  opacity: 0.6;
}

.header-user-nav a:active {
  opacity: 0.3;
  border: none;
}

.header-service-nav .service-nav-item {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.service-nav-item:first-child {
  letter-spacing: 0.1em;
}

.header-service-nav .service-nav-dropdown li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
}

.header-service-nav a:hover,
.header-service-nav a:focus {
  opacity: 0.6;
}

.header-service-nav a:active {
  opacity: 0.3;
}


/* Info and contacts */

.info-contacts h2 {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info-contacts ul {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
}

.button {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--special-yellow-dark);
}

.button:hover,
.button:active {
  cursor: pointer;
}

.info-contacts a {
  color: var(--basic-black);
}

.info-contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Footer */

.footer-logo svg {
  fill: var(--special-yellow-dark);
}

a.footer-logo:hover svg,
a.logo-footer:focus svg {
  opacity: 0.6;
}

a.footer-logo:active svg {
  opacity: 0.3;
}

.page-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  line-height: 20px;
}

.page-footer li {
  list-style: none;
}

.page-footer a {
  color: var(--basic-white);
}

.footer-user-nav a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-nav a:hover,
.footer-user-nav a:focus {
  color: var(--basic-white);
}

.footer-user-nav a:active {
  opacity: 0.3;
}

.footer-service-nav {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-service-nav a:hover,
.footer-service-nav a:focus {
  opacity: 0.6;
}

.footer-service-nav a:active {
  opacity: 0.3;
}

.page-footer-adress {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Catalog page */

.log-out a {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-page h1 {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

/* Filters */

.filters-group legend {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filters-group ul {
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.filters-group input[disabled] + label {
  color: #A6A6A6;
}

/* Тут будет меняться размер желтого прямоугольника на фоне
.filter .button:hover,
.filter .button:focus,
.catalog .button:hover,
.catalog .button:focus {}
*/

.filters .button:active,
.catalog .button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Catalog */

.catalog ul {
  list-style: none;
}

.catalog-item h3 {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-item .catalog-item-price {
  font-family: "Gilroy", Verdana, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.compare-button {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.compare-button:hover,
.compare-button:focus {
  opacity: 1;
}

.compare-button:hover {
  cursor: pointer;
}

.compare-button:active {
  opacity: 0.2;
  cursor: pointer;
}
