@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300; /* light */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800; /* extra-bold */
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-medium-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-yellow-light: #f7e296;
  --special-green: #91c02f;
  --special-pink: #f6dada;
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-text {
  margin: 0;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid */

html {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-header .container {
  background-color: var(--special-yellow);
}

.page-header {
  padding-top: 40px;
}

/* Header-navigation  */

.header-navigation {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 8px;
  padding-bottom: 167px;
}

.header-logo {
  position: relative;
  top: -28px;

  display: block;
  width: 163px;
  height: 35px;
}

/* Header-user-nav */

ul.header-user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  margin-bottom: 48px;
}

.user-nav-search {
  width: 300px;
  margin-right: auto;
}

.header-user-nav .user-nav-log-in {
  margin-right: 216px;
  padding-left: 22px;
}

.header-user-nav .user-nav-compare {
  margin-right: 43px;
  padding-left: 24px;
}

.header-user-nav .user-nav-cart {
  padding-left: 22px;
}

.header-user-nav .user-nav-profile {
  padding-left: 22px;
}

.header-user-nav li {
  position: relative;
}

.user-nav-log-in a::before {
  position: absolute;
  top: 6px;
  left: 0;

  content: "";
  width: 13px;
  height: 14px;

  background-image: url("../img/icons/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav-compare a::before {
  position: absolute;
  top: 6px;
  left: 0;

  content: "";
  width: 14px;
  height: 14px;

  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav-cart a::before {
  position: absolute;
  top: 5px;
  left: 0;

  content: "";
  width: 10px;
  height: 10px;

  background-image: url("../img/icons/shopping-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav-profile a::before {
  position: absolute;
  top: 6px;
  left: 0;

  content: "";
  width: 13px;
  height: 14px;

  background-image: url("../img/icons/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Header-service-nav */

.header-service-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.service-nav-catalog {
  margin-right: auto;
}

.service-nav-delivery {
  margin-right: 35px;
}

.service-nav-garantee {
  margin-right: 104px;
}

.service-nav-contacts {
  margin-right: 0;
}

.service-nav-catalog svg {
  margin-left: 12px;
}

/* Header*/

.header-navigation li {
  list-style: none;
}

.header-user-nav a,
.header-service-nav a {
  color: var(--basic-black);
}

a.header-logo[href]:hover,
a.header-logo[href]:focus {
  opacity: 0.6;
}

a.header-logo[href]:active {
  opacity: 0.3;
}

.header-user-nav,
.search-form {
  line-height: 20px;
}

/* Search form */

.search-form input {
  border: none;
  background-color: transparent;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus::placeholder {
  color: var(--basic-black);
}

.search-form input:focus {
  outline: none;
}

.user-nav-search .search-form {
  position: relative;
  padding-left: 36px;
}

.search-form label::before {
  position: absolute;
  top: 5px;
  left: 1px;

  content: "";
  width: 16px;
  height: 16px;

  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-form:focus-within::before {
  position: absolute;
  top: 30px;
  left: 0;

  content: "";
  width: 100%;
  height: 0;

  border-bottom: 2px solid var(--basic-black);
}

.search-form button {
  position: absolute;
  top: -15px;
  right: 0;

  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 78px;
  height: 45px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: transparent;
  border: none;
  outline: 2px solid var(--basic-black);
  cursor: pointer;
}

.search-form:focus-within button {
  display: flex;
}

.search-form button:hover,
.search-form button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-nav a:hover,
.header-user-nav a:focus {
  opacity: 0.6;
}

.header-user-nav a:active {
  opacity: 0.3;
  border: none;
}

.header-service-nav li {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-service-nav li:first-child {
  letter-spacing: 0.1em;
}

.header-service-nav .service-nav-dropdown li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
}

.service-nav-link:hover,
.service-nav-link:focus,
.catalog-dropdown-icon:hover span,
.catalog-dropdown-icon:focus span {
  opacity: 0.6;
}

.service-nav-link:active,
.catalog-dropdown-icon:active span {
  opacity: 0.3;
}

.service-nav-dropdown a:hover,
.service-nav-dropdown a:focus {
  opacity: 0.6;
}

.service-nav-dropdown a:active {
  opacity: 0.3;
}

/* Header catalog dropdown */

.service-nav-catalog {
  position: relative;
}

.service-nav-dropdown {
  position: absolute;
  left: -60px;

  display: none;
  flex-wrap: wrap;
  width: 1160px;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 41px;
  padding-left: 60px;

  background-color: var(--special-yellow);
}

.service-nav-dropdown ul {
  display: flex;
  flex-direction: column;
  margin-right: 61px;
}

.service-nav-dropdown ul li:not(:last-child) {
  margin-bottom: 16px;
}

.service-nav-dropdown .visual-devices {
  min-width: 180px;
}

.service-nav-dropdown .smart-devices {
  min-width: 125px;
}

.service-nav-dropdown .flying-devices {
  min-width: min-content;
}

.service-nav-catalog:hover .service-nav-dropdown,
.service-nav-catalog:focus .service-nav-dropdown {
  display: flex;
}

/* Info and contacts layout */

/* Info */

.info-contacts {
  display: grid;
  grid-template-columns: 475px 560px;
  column-gap: 125px;
  margin-bottom: 75px;
}

.info,
.contacts {
  padding-top: 50px;
}

.info h2,
.contacts h2 {
  margin-bottom: 40px;
}

.info p:first-of-type {
  margin: 0;
  margin-bottom: 40px;
}

.info ul {
  margin-top: 60px;
  padding-left: 32px;
}

.info li:first-of-type {
  margin-bottom: 15px;
}

.info li:nth-of-type(2) {
  margin-bottom: 14px;
}

.info li {
  position: relative;
}

.info li::before {
  position: absolute;
  top: 8px;
  left: -33px;

  content: "";
  width: 8px;
  height: 8px;
  box-sizing: border-box;

  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
  background-color: transparent;
}

.info li:last-of-type::before {
  top: 10px;
}

/* Contacts */

.contacts p {
  margin-bottom: 40px;
}

.contacts a.button,
.info a.button {
  margin-top: 70px;
}

.info-contacts a.button {
  display: inline-flex;
}


/* Info and contacts */

.info-contacts h2 {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info-contacts ul {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.button {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: none;
}

.button::before {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: -1;

  content: "";
  width: 100%;
  height: 8px;

  background-color: var(--special-yellow-dark);
}

.button:hover,
.button:active {
  background-color: var(--special-yellow-dark);
  background-position: center;
  cursor: pointer;
}

.button:focus,
.button:active {
  outline: none;
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.info-contacts .button {
  box-sizing: border-box;
  min-width: 260px;
}

.info-contacts a {
  color: var(--basic-black);
}

.info-contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}

.info-contacts section {
  position: relative;
}

.info-contacts section::before {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: -1; /*чтобы не просвечивало сквозь выпадающий из хедера список, при его увеличении*/

  content: "";
  width: 80px;
  height: 7px;

  background-color: var(--basic-black);
}

/* Footer layout*/

.page-footer-content {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  padding-top: 47px;
  padding-bottom: 65px;
}

.section-user-nav {
  grid-column: 1/4;
  grid-row: 1/2;
  margin-left: auto;
  margin-bottom: 72px;
}

.footer-logo {
  position: absolute;
  top: 18px;

  grid-column: 1/4;
  grid-row: 1/2;
}

.page-footer-address {
  grid-column: 1/2;
  grid-row: 2/3;
}

.section-service-nav {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 65px;
}

.page-footer-tel {
  grid-column: 3/4;
  justify-self: end;
  margin-bottom: 65px;
}

.section-socials {
  grid-column: 2/3;
  grid-row: 3/4;
}

.footer-logo-academy {
  grid-column: 3/4;
  justify-self: end;
}

.footer-user-nav {
  display: flex;
  justify-content: start;
}

.footer-user-nav-compare {
  margin-right: 43px;
  margin-left: 0;
}

.footer-user-nav-login {
  margin-right: 44px;
}

.footer-user-nav li span {
  margin-left: 11px;
}

.inner-page .footer-user-nav li {
  margin-right: 43px;
}

.inner-page li.footer-user-nav-cart {
  margin-right: 0;
}

.inner-page li.footer-user-nav-profile {
  margin-right: 24px;
}

.footer-service-nav {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 136px;
  margin-left: 145px;
}

.social-buttons li:not(:nth-child(3n+3)) {
  margin-right: 20px;
}

/* При добавлении новой иконки, у нее будет отступ сверху */
.social-buttons li:nth-child(n+4) {
  margin-top: 10px;
}

.section-socials::before {
  position: absolute;
  top: 239px;
  left: 0;

  content: "";
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

/* Footer */

.footer-logo svg {
  fill: var(--special-yellow-dark);
}

.footer-user-nav svg path {
  fill: #ffc600;
}

.footer-user-nav-profile svg path {
  fill: var(--special-yellow);
}

a.footer-logo[href]:hover svg,
a.logo-footer[href]:focus svg {
  opacity: 0.6;
}

a.footer-logo[href]:active svg {
  opacity: 0.3;
}

.page-footer {
  color: var(--basic-white);
  line-height: 20px;

  background-color: var(--basic-dark);
}

.page-footer a {
  color: var(--basic-white);
}

.footer-user-nav a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-nav a:hover,
.footer-user-nav a:focus {
  color: var(--basic-white);
}

.footer-nav-link:hover path,
.footer-nav-link:focus path {
  opacity: 0.6;
}

.footer-user-nav a:active {
  opacity: 0.3;
}

.footer-nav-link:active path {
  opacity: 0.3;
}

.footer-service-nav {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-service-nav a:hover,
.footer-service-nav a:focus {
  opacity: 0.6;
}

.footer-service-nav a:active {
  opacity: 0.3;
}

.page-footer-address {
  font-style: normal;
}

.social-buttons-facebook:hover path,
.social-buttons-instagram:hover path,
.social-buttons-twitter:hover path,
.social-buttons-facebook:focus path,
.social-buttons-instagram:focus path,
.social-buttons-twitter:focus path {
  fill-opacity: 0.6;
}

.social-buttons-facebook:active path,
.social-buttons-instagram:active path,
.social-buttons-twitter:active path {
  fill-opacity: 0.1;
}

.inner-page .footer-logo-academy-link {
  position: relative;
}

.inner-page .footer-logo-academy-link::after {
  position: absolute;
  top: -17px;
  left: 0;

  content: "";
  width: 27px;
  height: 34px;

  background-image: url(../img/icons/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-logo-academy-link:hover path,
.footer-logo-academy-link:focus path {
  fill-opacity: 0.6;
}

.footer-logo-academy-link:active path {
  fill-opacity: 0.3;
}

.footer-logo-academy-link:hover::after,
.footer-logo-academy-link:focus::after {
  opacity: 0.6;
}

.footer-logo-academy-link:active::after {
  opacity: 0.3;
}

/* Modal windows */

.modal {
  position: fixed;
  z-index: 2;

  box-sizing: border-box;

  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

/* Contact form  */

.modal-contact-form input[placeholder] {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-contact-form label {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-contact-form {
  top: 50%;
  left: 50%;

  width: 960px;
  height: 550px;
  margin-top: -225px;
  margin-left: -480px;

  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.contact-form {
  display: flex;
  width: 760px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 93px;
  margin-bottom: 70px;
  justify-content: space-between;
}

.contact-form * {
  box-sizing: border-box;
}

.contact-form-name {
  width: 360px;
}

.contact-form-email {
  width: 360px;
}

.contact-form-text {
  width: 100%;
}

.contact-form p {
  margin-bottom: 32px;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0;

  border: none;
  resize: none;
}

.contact-form input {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f2f2f2;
}

.contact-form input:hover,
.contact-form textarea:hover {
  background-color: #eaeaea;
}

.contact-form input:focus,
.contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:active {
  outline: 2px solid var(--special-yellow);
  background-color: transparent;
}

/* .contact-form input:focus:invalid {
  background-color: var(--special-pink);
} */

.contact-form textarea {
  height: 167px;
  padding: 16px 20px;
  margin-bottom: 12px;

  background-color: #f2f2f2;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form .button {
  min-width: 200px;
}

.contact-form .button::before {
  background-color: var(--special-yellow);
}

.contact-form .button:hover::before,
.contact-form .button:focus::before,
.contact-form .button:active::before {
  background-color: var(--special-yellow-dark);
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 20px;

  width: 55px;
  height: 55px;

  border: none;
  cursor: pointer;
  background-color: var(--special-yellow-dark);
  border-radius: 50%;
  opacity: 0.5;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 27px;
  right: 14px;

  content: "";
  width: 25px;
  height: 3px;

  background-color: var(--basic-white);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  outline: none;
}

.modal-close:active {
  opacity: 0.3;
  outline: none;
}
/*
.modal-close:hover::before,
.modal-close:focus::before,
.modal-close:active::before {
  transform: rotate(90deg);
}

.modal-close:hover::after,
.modal-close:focus::after,
.modal-close:active::after {
  transform: none;
}
*/

/* Map */

.modal-map {
  top: 50%;
  left: 50%;

  width: 990px;
  height: 590px;
  margin-top: -295px;
  margin-left: -495px;
}

.modal-map iframe {
  border: none;
}

/* Catalog page */

/* Header */

.inner-page .user-nav-profile {
  margin-right: 20px;
}

.inner-page .user-nav-log-out {
  margin-right: 65px;
}

.user-nav-log-out a {
  color: rgba(0, 0, 0, 0.3);
}

/* Main */

.page-main-content {
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 47px;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 20px;
}

.catalog-page h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 51px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

.breadcrumbs li:not(:last-child) {
  position: relative;

  padding-right: 20px;
}

.breadcrumbs li:first-child::after {
  position: absolute;
  top: 13px;
  right: 0;

  content: "";
  width: 4px;
  height: 7px;

  background-image: url(../img/icons/arrow-nav.svg);
  background-repeat: no-repeat;
}

.breadcrumbs li:nth-child(2)::after {
  position: absolute;
  top: 13px;
  right: -4px;

  content: "";
  width: 4px;
  height: 7px;

  background-image: url(../img/icons/arrow-nav.svg);
  background-repeat: no-repeat;
}

/* Filters and catalog layout*/

.filters-catalog-wrapper .page-main-content {
  display: grid;
  grid-template-columns: 270px 1fr; /*830px*/
  align-content: start;
}

.filters {
  padding-right: 70px;
  padding-top: 70px;

  background-color: var(--basic-grey-light);
}

.filters .button {
  min-width: 200px;
  margin-top: 6px;
}

.catalog {
  padding-top: 70px;
  padding-left: 70px;

  background-color: var(--basic-white);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}

.catalog-item {
  min-width: 360px;
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item a:hover,
.catalog-item a:focus {
  opacity: 0.6;
}

.catalog-item a:active {
  opacity: 0.3;
}

.catalog-item-caption {
  display: flex;
  width: 360px;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-item-price {
  min-width: 80px;
}

.filters-catalog-wrapper {
  position: relative;
}

.filters-catalog-wrapper::before {
  position: absolute;
  height: 100%;
  width: calc(100% - 1160px);
  left: 0;
  z-index: -1;
  content: "";

  background-color: var(--basic-grey-light);
}

.filters-catalog-wrapper .page-main-content {
  position: relative;
}

.filters-catalog-wrapper .page-main-content::before {
  position: absolute;
  left: 0;
  z-index: -1;

  content: "";
  height: 100%;
  width: 60px;

  background-color: var(--basic-grey-light);
}
/* Filters */

.filters-group legend {
  padding-top: 17px;
  margin-bottom: 14px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filters-group ul {
  font-size: 14px;
  line-height: 19px;
}

.filters-group input[disabled] + label {
  color: #A6A6A6;
}

.filters-group {
  position: relative;

  padding-bottom: 37px;
}

.filters-group::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 200px;
  height: 2px;

  background-color: var(--basic-black);
}

/* Checkbox */

.check__input {
  position: relative;
}

.check {
  padding-left: 42px;
}

.option {
  display: block;
  width: min-content;
  margin-bottom: 1px;
}

.check__input::after {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 24px;
  height: 24px;
  box-sizing: border-box;

  border: 2px solid var(--basic-black);
  border-radius: 2px;
  background-color: transparent;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__input:checked::after {
  background-image: url(../img/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.check__input:focus {
  outline: none;
}

.check__input:hover::after,
.check__input:focus::after {
  opacity: 0.6;
}

.check__input:active::after {
  opacity: 1;
}
.check__input:disabled::after {
  opacity: 0.25;
}

.check:disabled {
  color: #a6a6a6;
}

/* Radiobuttons */

.radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.radio {
  padding-left: 42px;
}

.radio__input::after {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 24px;
  height: 24px;
  box-sizing: border-box;

  border: 2px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
}

.radio__input:checked::before {
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;

  content: "";
  width: 8px;
  height: 8px;

  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--basic-black);
}

.radio__input:focus {
  outline: none;
}

.radio__input:hover::after,
.radio__input:hover::before,
.radio__input:focus::after,
.radio__input:focus::before {
  opacity: 0.6;
}

.radio__input:active::after,
.radio__input:active::before{
  opacity: 1;
}

.radio__input:disabled::after,
.radio__input:disabled::before {
  opacity: 0.3;
}

/* Catalog */

.catalog-item h3 {
  margin: 0;
  margin-top: 22px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-item .catalog-item-price {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-item-image {
  position: relative;
}

.catalog-item-image.new::after {
  position: absolute;
  top: 29px;
  right: 27px;
  z-index: 1;

  content: "new";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: transparent;
}

.catalog-item .button::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
}

.catalog-cart-button {
  position: absolute;
  top: 43%;
  left: 22%;

  display: none;
  min-width: 200px;
}

.catalog-compare-button {
  position: absolute;
  left: 0;
  top: 224px;
  right: 0;

  display: none;
  margin: auto;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;

  opacity: 0.5;
  border: none;
  background-color: transparent;
}

.catalog-compare-button:hover,
.catalog-compare-button:focus {
  opacity: 1;
  outline: none;
}

.catalog-compare-button:hover {
  cursor: pointer;
}

.catalog-compare-button:active {
  opacity: 0.2;
  cursor: pointer;
  outline: none;
}


.catalog-item-image:hover .catalog-compare-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.catalog-item-image:hover .catalog-cart-button {
  display: inline-flex;
}

.catalog-item-image:hover img {
  opacity: 0.7;
}

